In [2]:
import pandas as pd
import numpy as np

df=pd.read_csv(r'C:\Users\okunato oluwanifemi\Desktop\New folder (2)\Articles CSV.csv')
print(df)

    ArticleID                                              Title  \
0         143                       What you have learned so far
1         278                              Good Afternoon People
2         353       TWO YEARS IN THE TRENCHES BUILDING HOTELS.NG
3         355                HOW TO AVOID BEING A ONE-HIT WONDER
4         355                HOW TO AVOID BEING A ONE-HIT WONDER
5         360                           EVALUATING STARTUP IDEAS
6         360                           EVALUATING STARTUP IDEAS
7         360                           EVALUATING STARTUP IDEAS
8         371                                      Lucid is back
9         371                                      Lucid is back
10        371                                      Lucid is back
11        371                                      Lucid is back
12        371                                      Lucid is back
13        371                                      Lucid is back
14        375                       My Internship Journey So Far
15        439                                CEO -- Story so Far
16        439                                CEO -- Story so Far
17        439                                CEO -- Story so Far
18        983  A CHINESE VILLAGER WHO SELLS MORE SOFTWARE DAI...
19        983  A CHINESE VILLAGER WHO SELLS MORE SOFTWARE DAI...
20        985                    DON'T ASK WHY YOU WERE REJECTED
21        985                    DON'T ASK WHY YOU WERE REJECTED
22        985                    DON'T ASK WHY YOU WERE REJECTED
23        985                    DON'T ASK WHY YOU WERE REJECTED
24        986                                      THE SUNFLOWER
25        986                                      THE SUNFLOWER
26        992                                       this is mine
27        992                                       this is mine
28        992                                       this is mine
29        992                                       this is mine
30        992                                       this is mine
31        992                                       this is mine
32        992                                       this is mine
33        993                               Your face PHP script
34        993                               Your face PHP script
35        993                               Your face PHP script
36        993                               Your face PHP script
37        995                                             second
38        996                                              third
39        996                                              third
40        996                                              third
41        998                                       with picture
42        998                                       with picture
43        998                                       with picture
44        998                                       with picture
45        998                                       with picture
46        998                                       with picture
47        998                                       with picture
48        998                                       with picture
49        998                                       with picture
50        999                                               TEst
51        999                                               TEst
52        999                                               TEst
53       1002                                              Am ok
54       1002                                              Am ok
55       1007                                      My first post
56       1007                                      My first post
57       1007                                      My first post
58       1007                                      My first post
59       1007                                      My first post

                                              Content
0   1.  I have learnt how to publish and article, ...
1                                                 Hey
2   Hotels.ng is about two years old now. In the f...
3   Most people, at some point, have a hit. Some h...
4   Most people, at some point, have a hit. Some h...
5   The only true currency we humans have is time....
6   The only true currency we humans have is time....
7   The only true currency we humans have is time....
8   We have taken time to work on a lot of issues ...
9   We have taken time to work on a lot of issues ...
10  We have taken time to work on a lot of issues ...
11  We have taken time to work on a lot of issues ...
12  We have taken time to work on a lot of issues ...
13  We have taken time to work on a lot of issues ...
14  <h2>The Journey</h2>\n<p>My journey so has bee...
15  I will use Lucid as my diary on my new appoint...
16  I will use Lucid as my diary on my new appoint...
17  I will use Lucid as my diary on my new appoint...
18  <p>I was alone in the center of a small Chines...
19  <p>I was alone in the center of a small Chines...
20  <p>I’ve noticed something that is not immediat...
21  <p>I’ve noticed something that is not immediat...
22  <p>I’ve noticed something that is not immediat...
23  <p>I’ve noticed something that is not immediat...
24  <p>A field of sunflowers sat beside another fi...
25  <p>A field of sunflowers sat beside another fi...
26                                               mine
27                                               mine
28                                               mine
29                                               mine
30                                               mine
31                                               mine
32                                               mine
33  this is what you see\n\n\~~~php\n\n<?php echo ...
34  this is what you see\n\n\~~~php\n\n<?php echo ...
35  this is what you see\n\n\~~~php\n\n<?php echo ...
36  this is what you see\n\n\~~~php\n\n<?php echo ...
37    second![](/storage/1/images/img-ga0dlp954u.png)
38  third![](/storage/1/images/img-hta9olnjij.png)...
39  third![](/storage/1/images/img-hta9olnjij.png)...
40  third![](/storage/1/images/img-hta9olnjij.png)...
41         ![](/storage/2/images/img-rw5rbxsjg4.jpeg)
42         ![](/storage/2/images/img-rw5rbxsjg4.jpeg)
43         ![](/storage/2/images/img-rw5rbxsjg4.jpeg)
44         ![](/storage/2/images/img-rw5rbxsjg4.jpeg)
45         ![](/storage/2/images/img-rw5rbxsjg4.jpeg)
46         ![](/storage/2/images/img-rw5rbxsjg4.jpeg)
47         ![](/storage/2/images/img-rw5rbxsjg4.jpeg)
48         ![](/storage/2/images/img-rw5rbxsjg4.jpeg)
49         ![](/storage/2/images/img-rw5rbxsjg4.jpeg)
50  jnlkj\r\n\r\n  \r\n\r\n![](/storage/4/images/i...
51  jnlkj\r\n\r\n  \r\n\r\n![](/storage/4/images/i...
52  jnlkj\r\n\r\n  \r\n\r\n![](/storage/4/images/i...
53   let's do this ooooooooooooooo edit and bee fixed
54   let's do this ooooooooooooooo edit and bee fixed
55  <p>About time I made one.</p>\n<p><strong>Bold...
56  <p>About time I made one.</p>\n<p><strong>Bold...
57  <p>About time I made one.</p>\n<p><strong>Bold...
58  <p>About time I made one.</p>\n<p><strong>Bold...
59  <p>About time I made one.</p>\n<p><strong>Bold...

In [3]:
conn= df["ArticleID"].value_counts()

conn

998     9
992     7
371     6
1007    5
993     4
985     4
439     3
360     3
999     3
996     3
1002    2
355     2
986     2
983     2
995     1
375     1
143     1
278     1
353     1
Name: ArticleID, dtype: int64

In [9]:
# saving user id and no of followers

conn.to_csv('conn.csv')

columns= ("ArticleID", "Count")
newframe= pd.read_csv("conn.csv", names= columns)

newframe.head()

C:\Users\okunato oluwanifemi\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

   ArticleID  Count
0        998      9
1        992      7
2        371      6
3       1007      5
4        993      4

In [12]:
merged_col = pd.merge(df, newframe, on='ArticleID')

merged_col.head()

complete= merged_col.drop_duplicates()

complete.head()

,ArticleID,Title,Content,Count
0,143,What you have learned so far,"1. I have learnt how to publish and article, ...",1
1,278,Good Afternoon People,Hey,1
2,353,TWO YEARS IN THE TRENCHES BUILDING HOTELS.NG,Hotels.ng is about two years old now. In the f...,1
3,355,HOW TO AVOID BEING A ONE-HIT WONDER,"Most people, at some point, have a hit. Some h...",2
5,360,EVALUATING STARTUP IDEAS,The only true currency we humans have is time....,3